# Data Science and Ecosystem

In [ ]:
> In this notebook,Data Science Tools and Ecosystem are summarized

In [ ]:
> Some of the popular languages that Data Scientists use are:
1. Phython
2. R
3. Java

In [ ]:
> Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Nampy
3. Matplotlib
4. Seaborn
5. Keras

In [ ]:
|Data Science Tools|
|------------------|
|Phython|
|Apachi Spark|
|Tensorflow|

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python

|Operatior|Name|example|
|---------|----|-------|
|+|Addition|x+y|
|-|Subtraction|x-y|
|*|Multipliction|x*y|
|/|Division|x/y|
|/|Modulus|x%y|

In [ ]:
### This a simple arithmetic expression to mutiply then add integers
#### Assign the value 3 to the variable x
x = 3
#### Assign the value 4 to the variable y
y = 4
#### Assign the value 5 to the variable z
z = 5
#### Multiply x and y then add z and store the result in the variable 'result'
result = (x * y) + z
#### Print the value stored in 'result'
print (result)

#### This will convert 200 minutes to hours by diving by 60
timeinminutes = 200
timeinhours = (200/60)
print (timeinhours)

**Objectives**
#### List popular languages for Data SciencePhython

* Java
* Phython
* R

In [ ]:
## Author: 
Inayatullah Saqib